body {
  background: radial-gradient(circle at center, #434343, #000000);
  box-sizing: border-box;
  font-family: 'Consolas', monospace; }
  body:after {
    display: block;
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    background: url("../static/img/bg.jpg") center center;
    background-size: cover;
    filter: blur(25px); }

h1 {
  color: #0F0;
  text-align: center;
  letter-spacing: 1.5px; }

.app__container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background: #000;
  box-sizing: border-box;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 30px;
  position: absolute;
  min-height: 400px;
  left: 0;
  right: 0;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%); }

.app__list {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #0F0;
  border-radius: 3px;
  min-height: 350px;
  margin-bottom: 70px; }

.app__message {
  padding-top: 10px;
  margin-bottom: 10px;
  color: #0F0;
  padding-left: 25px;
  padding-right: 30px;
  position: relative; }
  .app__message:after {
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background: #0F0;
    position: absolute;
    top: 17px;
    left: 12px; }
  .app__message__user {
    display: inline-block;
    margin-right: 10px;
    position: relative; }
    .app__message__user:after {
      display: block;
      position: absolute;
      left: 0;
      right: 8px;
      height: 1px;
      content: '';
      background: #0F0; }

.app__form {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px; }
  .app__form__error {
    color: red;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    left: 0;
    letter-spacing: 1px;
    right: 0;
    bottom: 40px;
    text-align: center; }
  .app__form input {
    display: block;
    background: none;
    border: none;
    border-bottom: 2px solid #0F0;
    width: 100%;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
    color: #0F0;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 10px; }
    .app__form input:focus::-webkit-input-placeholder {
      opacity: 0; }
    .app__form input::-webkit-input-placeholder {
      color: #0F0; }
    .app__form input.error {
      border-bottom: 2px solid red; }
  .app__form button {
    border: 2px solid #0F0;
    padding: 12px 30px;
    outline: none;
    cursor: pointer;
    background: none;
    color: #0F0;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    .app__form button:before, .app__form button:after {
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      left: -2px;
      height: 100%;
      width: 100%;
      opacity: 0; }
    .app__form button:after {
      border: 2px solid #f0f;
      z-index: -2; }
    .app__form button:before {
      border: 3px solid #0ff;
      z-index: -1; }
    .app__form button:hover:before {
      animation: glitch-btn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
      opacity: 1; }
    .app__form button:hover:after {
      animation: glitch-btn 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
      opacity: 1; }

@keyframes glitch-btn {
  0% {
    transform: translate(0); }
  20% {
    transform: translate(-2px, 2px); }
  40% {
    transform: translate(-2px, -2px); }
  60% {
    transform: translate(2px, 2px); }
  80% {
    transform: translate(2px, -2px); }
  to {
    transform: translate(0); } }
